.header-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(48, 47, 47);
  align-items: center;
  height: 100px;
  padding: 5px 20px;

  &__search_area {
    display: flex;
    gap: 10px;
  }
}
.search {
  color: white;
  background-color: rgb(88, 94, 94);
  display: flex;
  margin-top: 10px;
}
